/* Home Component Styling */
.content__left > button {
    font-size: 1.5rem;
    font-weight: 200;
    border-radius: 50px;
    padding: 0 20px;
}
.content__left > button > a {
    text-decoration: none;
    color: whitesmoke;
}
.content__heading {
    font-size: 60px;
    width: 600px;
    font-weight: 400;
}
.content__sub_head {
    font-size: 1.3rem;
    font-weight: 300;
}
.content__right > img {
    max-width: 500px;
}

.home {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(171, 208, 253);
    border-radius: 20px;
    padding: 20px;
}

@media (max-width: 1200px) {
    .content__right > img {
      max-width: 400px;
    }
    .content__heading {
        font-size: 55px;
        width: 500px;
        font-weight: 400;
    }
    .content__sub_head {
        font-size: 1.3rem;
        font-weight: 300;
    }
    @media (max-width: 1000px) {
        .home {
            display: flex;
            flex-direction: column;
        }
        .content__heading {
            font-size: 2.5rem;
            width:auto;
            font-weight: 400;
        }
        .content__sub_head {
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    @media (max-width: 400px) {
        .content__right > img {
            max-width: 300px;
          }
        
    }
    
  }